[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
patsy = "*"
numba = "*"
statsmodels = "*"
lifelines = "*"
sklearn = "*"
ipython = "*"
jedi = "*"
"flake8" = "*"
"autopep8" = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.6"
